/* Accès à  la police Lato importée : font-family: 'Lato', sans-serif; */
/*Ne pas oublier d'utiliser le framework tailwind pour la responsivité (consignes)*/

* {
    font-family: 'Lato', sans-serif;
}
body {
    background-image:linear-gradient(to right, #EDEFF2, #EDEFF2 50%, #ffffff 50%, #ffffff);/*inverser au changement de joueur*/
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    padding: 20px;
}
.nav_rules {
    position: absolute;
    top: 40px; 
    left: 40px;
}
.nav_rules_btn {
    background-color: #F74F31;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
}
.nav_rules_btn:hover {
    border-radius: 20px 20px 0px 0px;
}
.nav_rules_speech {
    display: none;
    position: absolute;
    background-color: #F74F31;
    color: white;
    font-size: 1.2rem;
    min-width: 300px;
    z-index: 1;
    text-align: center;
    border-radius: 0px 15px  15px 10px;
    padding: 15px;
}
.nav_rules:hover .nav_rules_speech {
    display: block;
}
.nav_newgame {
    /*background-color: #F74F31;*/
    font-size: 2rem;
    padding : 15px;
    margin: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    transition: transform 0.8s ease;
}
.nav_newgame:hover {
    transform: scale(1.1,1.1);
}

.game {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.card_p1 {
    /*background-color: grey;*/
    height: 60%;
    width : 25%;
    padding: 25px;
    display: flex;
    flex-direction :column;
    justify-content: space-between;
    align-items: center;
}
.card_p1_header {
    font-weight: bold;/*bold = player active*/
    font-size: 2.3rem;
    color: #38120b;
}
.card_p1_global {
    font-size: 4rem;
    color:#F74F31;
    padding: 10px;
    margin: 10px;
}
.card_p1_current {
    padding: 15px;
    margin: 15px;
    background-color: #F74F31;
    color: white;
    font-size: 1.8rem;
}
.card_p2 {
    /*background-color: grey;*/
    height: 60%;
    width : 25%;
    padding: 25px;
    display: flex;
    flex-direction :column;
    justify-content: space-between;
    align-items: center;
}
.card_p2_header {
    font-weight: normal;/*bold = player active*/
    font-size: 2.3rem;
    color: #38120b;
}
.card_p2_global {
    font-size: 4rem;
    color:#F74F31;
    padding: 10px;
    margin: 10px;
}
.card_p2_current {
    padding: 15px;
    margin: 15px;
    background-color: #F74F31;
    color: white;
    font-size: 1.8rem;
}

.card_dice {
    /*background-color: grey;*/
    height: 60%;
    width : 35%;
    padding: 25px;
    display: flex;
    flex-direction :column;
    justify-content: space-between;
    align-items: center;
}
.card_dice_img {
    height: 250px;
    width: 250px;
    margin: 20px;
}
.card_dice_roll {
    font-size: 2rem;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    transition: transform 0.8s ease;
}
.card_dice_roll:hover {
    transform: scale(1.1,1.1);
}
.card_dice_hold {
    font-size: 2rem;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    transition: transform 0.8s ease;
}
.card_dice_hold:hover {
    transform: scale(1.1,1.1);
}



footer {
    background-color: #F74F31;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot_credit {
    margin: 15px;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}